.task-item {
  background-color: #ebe7ef;
  border-radius: 8px;
  padding: 12px 16px;
  margin-bottom: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #dcd6e4;
  }
}

.task-checkbox {
  accent-color: #7733ff; /* Cor personalizada para o checkbox */
  width: 1.5rem;
  height: 1.5rem;
}

.task-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.task-description {
  font-size: 1rem;
  color: #737176;
}

.done .task-title,
.done .task-description {
  text-decoration: line-through;
  color: #999;
}

.btn-delete {
  background: none;
  border: none;
  color: #737176;
  font-size: 1.5rem;

  &:hover {
    color: #ff6b6b;
  }
}


.task-checkbox {
  appearance: none; /* Remove o estilo padrão do checkbox */
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #7733ff; /* Cor da borda padrão */
  border-radius: 50%; /* Torna o checkbox circular */
  background-color: #dcd6e4; /* Cor de fundo padrão */
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;

  &:checked {
    background-color: #4caf50; /* Cor de fundo verde ao marcar */
    border-color: #4caf50; /* Cor da borda ao marcar */
  }

  &:checked::after {
    content: '✓'; /* Símbolo de "check" */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: white; /* Cor do símbolo */
    font-weight: bold;
  }

  &:hover {
    box-shadow: 0 0 5px #7733ff; /* Efeito de hover */
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px #7733ff; /* Efeito ao focar */
  }
}

