/* styles.scss */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
// Definindo a altura total para o HTML e o BODY
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F4F2FF; /* Fundo do corpo principal */
  font-family: 'Inter', sans-serif;
}


// Fazendo com que o container ocupe a tela inteira
.container-fluid {
  padding: 0;
  height: 100%;
}

// Garantindo que o conteúdo do main ocupe pelo menos 100% da altura
main {
  min-height: 100%;
}

// Estilos para o host (componente Angular)
:host {
  display: block;
  height: 100%;
  width: 100%;
}


